:root {
	--text: #000;
	--accent: #EBD96B;
}

body {
	font-family: 'Poppins', sans-serif;
	color: var(--text);
}

.container {
	border: 1px solid red;
	max-width: 1780px;
	margin: 0 auto;
	padding: 0 30px;
}

.flex-container {
	border: 1px solid red;
	max-width: 1780px;
	margin: 0 auto;
	padding: 0 30px;
	display: flex;
	justify-content: center;
}