.header {
	padding: 46px 0 56px;
}

.header__row {
	display: flex;
	column-gap: 30px;
	align-items: center;
	justify-content: space-between;
}

.header__logo {
	display: flex;
	align-items: center;
	column-gap: 13px;
	color: var(--text);
}

.header__logo span {
	font-weight: 900;
	font-size: 40px;
	text-transform: uppercase;
	letter-spacing: 0.03em;
	line-height: 1.5;
}

.header__nav {
	text-transform: uppercase;
	font-size: 22px;
	font-weight: 500;
	letter-spacing: 0.01em;
	line-height: 1.5;
}

.header__list {
	display: flex;
	column-gap: 65px;
	align-items: center;
}

.header__list a {
	color: var(--text);
}

a.header__button {
	padding: 13px 22px 17px;
	background-color: #000;
	border-radius: 7px;
	font-size: 24px;
	color: #fff;
	letter-spacing: -0.03em;
}